<!-- <mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Book Store</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    Drawer content
    <div>
      <a routerLink="/about-us">About Us</a><br>
      <a routerLink="/auth/signup">SignUp</a><br>
      <a routerLink="/auth/login" [queryParams]="{Name:userName,Email:email}">Login</a><br>
      <a routerLink="/public/all-book">All Books</a><br>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    Main content
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container> -->

<!-- <app-public></app-public> -->
<app-toolbar></app-toolbar>
<router-outlet></router-outlet>
